.e-MenuTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 69px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;

}

.e-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}

.e-titulo1 {
    margin-top: 71px;
    margin-bottom: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.e-inputTitulo {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;


}

.e-inputUrl {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;


}
.e-inputQuantidadePergunta {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;


}
.e-inputQuantidadeNiveis {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;


}

.e-formulario > input ::placeholder{
    color: #BABABA;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 400;
}

.e-finalizarFormulário {
    margin-top: 109px;
    width: 369px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #FFF5F4;
}

.hidden{
    display: none;
}
.visible{
    display: flex;
}
.e-criarPerguntas.hidden{
    display: none;
}
.e-criarPerguntas{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}
.e-criarPerguntas > input ::placeholder{
    color: #BABABA;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 400;
}
.teste1{
    background-color: aqua;
    width: 300px;
    height: 300px;
}
.e-pergunta {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.e-titulo2{
    margin-top: 28px;
    margin-bottom: 12px;
}

.e-inputTextoPergunta{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}

.e-inputCorPergunta{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputResposta{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputUrlImagemResposta{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputIncorreta1{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputIncorreta2{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputIncorreta3{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputUrlImagemIncorreta1{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputUrlImagemIncorreta2{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputUrlImagemIncorreta3{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-criarNiveis{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}
.e-criarNiveis.hidden{
    display: none;
}
.e-nivel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.e-inputTituloNv{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}

.e-inputprctNv{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputTUrlImgNv{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}
.e-inputDescriçãoNv{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 9px;

}